@attribute [Route(Route)]

<div class="container-lg mt-5">
    <h3>Dashboard</h3>

    <AuthorizeView>
        Hello @context.User.Identity?.Name!
    </AuthorizeView>
</div>

@code {
    public const string Route = "/Portal";
}