@attribute [Route(Route)]

<PageTitle>Locked out</PageTitle>

<div class="col-lg-6 mx-auto">
    <div class="card border-danger">
        <div class="card-header">
            Locked out!
        </div>
        <div class="card-body">
            This account has been locked out, please try again later.
        </div>
    </div>
</div>

@code {
    public const string Route = "/Lockout";
}