<header id="topbar">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-lg gap-5">
            <a class="navbar-brand" href="/">ExpenseTracker</a>
            
            <div class="hstack order-lg-1 gap-3">
                <ul class="nav">
                    <UserNavItemDropdown />
                </ul>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list"></i>
                </button>
            </div>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><NavLink class="nav-link" href="/" Match="@NavLinkMatch.All">Home</NavLink></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
