@inherits LayoutComponentBase

@layout RootLayout





<div id="page-wrapper" class="sticky-topbar d-flex flex-column">
    <MainLayoutTopbar />
    
    <main id="page-content-wrapper" class="flex-fill">
        @Body
        <Carousel Autoplay="CarouselAutoPlay.StartOnPageLoad">
            <CarouselItem Active="true" Interval="10000">
                <Image Src="wwwroot/NewFolder/carousel1.png" />
            </CarouselItem>
            <CarouselItem Interval="2000">
                <Image Src="wwwroot/NewFolder/carousel2.png" />
            </CarouselItem>
            <CarouselItem>
                <Image Src="wwwroot/NewFolder/carousel3.png" />
            </CarouselItem>
        </Carousel>
    </main>

    <div class="text-bg-dark">
        <div class="container p-3">
            <p class="m-0 small text-center">Copyright © ExpenseTracker 2024</p>
        </div>
    </div>
</div>
