@inherits LayoutComponentBase

@layout RootLayout

<div id="page-wrapper" class="sticky-topbar d-flex flex-column">
    <MainLayoutTopbar />
    
    <main id="page-content-wrapper" class="flex-fill">
        @Body
    </main>

    <div class="text-bg-dark">
        <div class="container p-3">
            <p class="m-0 small text-center">Copyright © ExpenseTracker 2024</p>
        </div>
    </div>
</div>
