<header id="topbar">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <button class="sidebar-toggler" type="button" data-toggle="sidebar" aria-label="Toggle sidebar">
                <i class="bi bi-layout-sidebar"></i>
            </button>
            
            <a class="navbar-brand ms-3" href="/">ExpenseTracker</a>

            <div class="hstack order-lg-1 gap-3">
                <ul class="nav">
                    <UserNavItemDropdown/>
                </ul>
            </div>
        </div>
    </nav>
</header>
