@inherits LayoutComponentBase

@layout RootLayout

<div id="page-wrapper" class="min-vh-100 d-flex flex-column">
    <main id="page-content-wrapper" class="flex-fill">
        @Body
    </main>
</div>