@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" class="alert alert-danger alert-dismissible fixed-bottom m-0 rounded-0 d-none" data-nosnippet>
    An unhandled error has occurred.
    <a href="" class="reload alert-link">Reload</a>
    <a class="dismiss btn-close"></a>
</div>